<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Example of Adding HTML, CSS, Images</title>
    
    <!-- Added css sucessfully .... -->
    <link rel="stylesheet" th:href="@{/css/test.css}">
</head>
<body>
	  <!-- Added js sucessfully .... -->
	 <script src="" th:src="@{/js/test.js}"></script>
	 
	  <!-- Added image sucessfully .... -->
	 <img src="" th:src="@{/images/test.jpg}">
    <h1>Example of Adding HTML, CSS, Images</h1>
	
    <div id="container">
        <h2>Rahul is learning</h2>
        <p>dsfhjsksdfn cnaodsna sdfghjklkytresdrftgyhujk</p>
    </div>

</body>
</html>
