<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
     
     <footer id="footer2" th:fragment="footer1">
		 <P>The title is: <span th:text="${title}"></span></P>
		 <P>The subtitle is: <span th:text="${subtitle}"></span></P>
		 <P>Name of fragment is Rahul</P>
		 <P>Name of fragment is Rahul</P>
		 <P> 
			 jhgfdsasdrtyjmnbvdsrtyjkjhgfdsdghjk,mnbvcdtyujhgfdswsdfghn
		 </P>
	 </footer>
	 
	 
	 <!-- Parameter footer 
	 <footer id="footer2" th:fragment="footer1(title,subtitle)">
		 <P>The title is: <span th:text="${title}"></span></P>
		 <P>The subtitle is: <span th:text="${subtitle}"></span></P>
		 <P>Name of fragment is Rahul</P>
		 <P>Name of fragment is Rahul</P>
		 <P> 
			 jhgfdsasdrtyjmnbvdsrtyjkjhgfdsdghjk,mnbvcdtyujhgfdswsdfghn
		 </P>
	 </footer>
     -->

</body>
</html>